/* Main CSS */
h1 {
    font-size: 3em;
    font-weight: bold;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    height: auto;
    
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

/* Class CSS */

.container {
    text-align: center;
}

.body_text {
    background-color: whitesmoke;
}

